body {
  margin: 10px;
  height: 950px;
  background-color: rgb(253, 254, 255);
  justify-content: center;
  align-items: center;
}

img {
  pointer-events: none;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

hr {
  height: 2px;
  border-width: 0;
  color: black;
  background-color: black;
}

a {
  color: black;
  text-decoration: none;
}

i {
  padding-right: 10px;
  position: relative;
  top: 2px;
}

.main {
  background-color: white;
  width: 650px;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 60%;
  padding: 10px 5px;
  border-radius: 10px;
  box-shadow: 5px 2px 14px 10px #eeeaea;
}

.list li {
  margin-left: -15px;
}

.socmed li {
  list-style: none;
  padding-bottom: 5px;
  margin-left: -28px;
}

.title {
  justify-content: center;
  text-align: center;
}

.foto {
  width: 150px;
  filter: grayscale(0.8);
  border-radius: 10px;
}

.table-type {
  padding-left: 100px;
}

.marginBottom {
  position: absolute;
  margin-top: 75px;
  opacity: 0;
}

@media (max-width: 812px) {
  html {
    font-size: 75%;
  }

  body {
    margin: 5px;
    height: 750px;
  }

  .main {
    background-color: white;
    width: 500px;
    position: relative;
    box-shadow: 5px 2px 14px 10px #eeeaea;
  }

  .foto {
    width: 80%;
  }

  .list li {
    margin-left: -10px;
  }

  .socmed li {
    list-style: none;
    padding-bottom: 5px;
    margin-left: -20px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 75%;
  }

  body {
    margin: 10px;
    height: 750px;
  }

  .main {
    background-color: white;
    width: 400px;
    position: relative;
    box-shadow: 5px 2px 14px 10px #eeeaea;
  }

  .foto {
    width: 80%;
  }

  .list li {
    margin-left: -10px;
  }

  .socmed li {
    list-style: none;
    padding-bottom: 5px;
    margin-left: -20px;
  }

  .marginBottom {
    margin-top: 25px;
  }
}
